:root {
    /* Variables de color para el modo claro */
    --bg-body: #f3f4f6;
    --bg-container: #ffffff;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --input-bg: #f3f4f6;
    --input-text: #1f2937;
    --task-bg: #e5e7eb;
    --task-completed-bg: #d1d5db;
    --tab-text-color: #000000; /* Negro para el modo claro */
}

.dark {
    /* Variables de color para el modo oscuro */
    --bg-body: #111827;
    --bg-container: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #d1d5db;
    --input-bg: #1f2937;
    --input-text: #f9fafb;
    --task-bg: #374151;
    --task-completed-bg: #4b5563;
    --tab-text-color: #ffffff; /* Blanco para el modo oscuro */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

.card {
    background-color: var(--bg-container);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para los campos de entrada */
input[type="text"], input[type="date"], textarea {
    background-color: var(--input-bg);
    color: var(--input-text);
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para las tareas de la lista */
.todo-item {
    background-color: var(--task-bg);
}
.todo-item.completed {
    background-color: var(--task-completed-bg);
}

/* Estilos para los botones de las pestañas */
.tab-button {
    transition: all 0.3s ease;
    color: var(--tab-text-color);
}

/* Estilos para la linea de la pestaña activa */
.tab-button.active {
    border-bottom-width: 2px;
}

.todo-item.completed .task-text {
    text-decoration: line-through;
    color: var(--text-secondary);
}

.todo-item.dragging {
    opacity: 0.5;
    transform: scale(1.02);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}